/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common style */
*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Work Sans', sans-serif;
}
.titel{
    font-size: 48px;
    font-weight: 700;
}
.description{
    font-size: 18px;
    font-weight: 400px;
}
.titel-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.color-primary{
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-primary{
    color: #fff;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    padding: 21px 40px;
}
/* header  styles */

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 35px 20px 40px 20px;
}
/* nav logo style */
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h1{
   font-size: 45px;
   font-weight: 700;
}
.logo img{
    width: 85px;
    margin-right: 20px;
}
.menu > ul > li{
    display: inline-block;
    list-style-type: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-right: 32px;

}
.follow-btn{
    display:flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 15px 17px 25px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    
}
.follow-icons img{
    width: 32px;
    margin-left: 24px;
}

/* header banner styles*/
.banner{
    display: flex;
    justify-content: space-between;
    gap: 65px;
}
.banner-texts{
    max-width: 50%;
     background-image: url(/images/background.png);
     margin: 148px 0px 0px 240px;
}
.banner-texts h2{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-left: -2em;
}
.banner-texts h1{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    margin-left: -1em;
    margin-bottom: 24px;
}
.banner-texts ul li{
    list-style-type: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 17px;
}
.banner-texts img{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10em;

}
.banner-image{
    max-width: 100%;
    margin-right: 60px;
}
.banner-image img{
    max-width: 711px;
}
/* buttons style */
.buttons{
   display: flex;
   margin-left: -2em;
   margin-top: 62px;
}
.go-rogue{
    border-radius: 48px;
    background: #4EC5F7;
    margin-left: 24px;
}

/* gamer styles */
.gamer{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    text-align: right;
}
.gamer-content{
    margin-top: 95px;
    margin-right: 110px;
}
.gamer-content p{
    max-width: 520px;
    margin-top: 24px;
    margin-bottom: 32px;
    
}
.purpose-titel span{
    display: block;
    margin-top: 24px;
    max-width: 520px;
}
.purpose-titel span{
    color: #534C64;
    font-size: 24px;;
    font-weight: 500;
}
.purpose-titel .purpose{
    color: #534C64;
    font-size: 32px;;
    font-weight: 700;
}
.gamer-image {
    width: 100%;
}
.gamer-image img{
    width: 100%;
}
/* Online games and videos styles */
.games-videos{
  margin-top: 175px;
}
.games-videos-titel{
    text-align: center;
}
.games-videos-titel h1{
 margin-bottom: 24px;
}
.games-videos-cards{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    gap: 10px;
   }
.games-videos-cards img{
    width: 100%;
  }
.games-videos-cards p{
    margin-top: 24px;
    margin-bottom: 24px;
}
.games-videos-cards p{
    max-width: 324px;
}
.card3{
    position: relative;
}
.card3:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
}
.card3 .watch-now:hover{
    opacity: 1;
}
.watch-now{
    position: absolute;
    top: 8em;
    left: 7em;
    opacity: 0;
}

.watch-now p{
   font-size: 20px;
   font-weight: 600;
   background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Play Instantly */
.Play-Instantly{
    display: flex;
    justify-content: space-between;

}
.Play-Instantly-content{
    margin-left: 50px;
    margin-top: 336px;
    max-width: 340px;
    text-align: right;
}
.Play-Instantly-image{
    position: relative;
    margin-right: 50px;
    margin-top: 120px;
}
.Play-Instantly-image img{
    width: 100%;
}
.image-two{
    position: absolute;
    bottom: -110px;
    left: -90px;
}
/* games styles */

.games{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 300px;
}
.games .image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.games .image img{
   margin-right: 10px;
}
.games .image p{
    padding: 28px 10px 28px 15px;
}
.games .chart2{
   width: 100%;
  margin-left: 9em;
}
.image-border:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
    margin-left: 10px;
    transition: border 0.3s;
}
/* footer style */
.footer{
    background-color: #0B0223;
    width: 100%;
}
.footer > .logo{
    color: #fff;
    padding-top: 120px;
    margin-bottom: 66px;
}
.footer-menu , .footer-icons, .footer-policys{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-menu a , .footer-icons a,.footer-policys a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}
.footer-menu ul li , .footer-icons ul li , .footer-policys ul li{
    display: inline-block;
    margin: 0 auto;
}
.footer-icons img{
    width: 40px;
    margin-right: 40px;
    margin-top: 66px;
    margin-bottom: 66px;
}
.footer-policys a{
    color: rgba(255, 255, 255, 0.60);
    margin-right: 60px;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin-top: 66px;
    padding-bottom: 130px;
}
/* mobile responsive */
@media screen and (max-width: 576px){
    /* header style */
    nav{
        flex-direction: column;
        margin-left: 6em;
        text-align: center;
        
    }
    .logo{
        margin-bottom: 62px;
    }
    .menu > ul > li{
        display: block;
        text-align: center;
        margin-bottom: 36px;
        margin-left: 0px;
    }
    .follow-btn{
        margin: 0 auto;
    }
    /* banner style */
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .banner-texts{
       background: none;
    }
    .banner-texts h1{
        margin-left: -2em;
    }
    .banner-texts h2{
        margin-left: -4em;
    }
    .banner-texts img{
        left: 4em;
    }
    .banner-texts p{
        margin-left: -6em;
    }
    .buttons{
       display: flex;
       margin-left: -11em;
    }
    .banner-image{
        margin: 0px 50px;
        width: 100%;
    }
    .banner-image img{
        width: 100%;
    }
    /* gamer style */
    .gamer{
        flex-direction: column;
        text-align: center;
    }
    .gamer-image{
        margin-top: 150px;
        margin-left: 30px;
    }
    .gamer-content{
        margin-right: -50px;
        padding: 10px;
    }
    .purpose-titel span{
        margin-top: 60px;
    }
    /* .games-videos styles */
    .games-videos-titel h1{
        font-size: 25px;
       }
    .games-videos-titel p{
        font-size: 15px;
       }
   .games-videos-cards img{
     width: 100%;
   }
   .games-videos-cards{
     flex-direction: column;
     margin: 0px;
     padding: 80px 0px 0px 50px;
   }
   /* play instantly */
   .Play-Instantly{
    flex-direction: column;
    justify-content: center;
}
.Play-Instantly-image {
    width: 100%;
    right: -3em;
}
/* games style */
.games{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.games .image{
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.games .chart2{
   width: 100%;
  margin-left: 0em;
}
.footer{
    background-color: #0B0223;
    width: 100%;
    padding-right: 9em;
}
.footer-menu , .footer-icons, .footer-policys{
    margin-left: 8em;
}
}
    

/* tablet responsive */
@media screen and (min-width: 576px) and (max-width: 992px){
    /* header style */
    nav {
        display: flex;
        justify-content: space-between;
        margin: 35px -23em 40px 50px;
    }
    .menu > ul > li{
        margin-right: 10px;
    }
    .follow-btn{
        padding: 15px 10px;
        
    }
    .follow-icons img{
        width: 32px;
        margin-left: 5px;
    }
    /* banner style */
    .banner-texts h1{
        margin-left: -2em;
    }
    .banner-texts h2{
        margin-left: -4em;
    }
    .banner-texts img{
        left: 4em;
    }
    .banner-texts p{
        margin-left: -6em;
    }
    .buttons{
        display: flex;
        margin-left: -12em;
     }
     /* gamer style */
     .gamer{
        width: 100%;
        position:relative;
    }
    
    .gamer-image {
        width: 100%;
        position: absolute;
    }
    .gamer-image img{
        width: 100%;
    }
     .gamer-content{
        right: -32em;
        position: absolute;
        padding-left: 10px;
    }
    .games-videos-titel{
        position: absolute;
        bottom: -70em;
        left: 19em;
        width: 100%;
    }
   .games-videos-cards{
    width: 100%;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     padding-top: 40em;
     margin-left: 18em;
   }
  /* <!-- Play Instantly --> */
   .Play-Instantly-image{
    width: 100%;
    position: absolute;
    right: -35em;
   }
   /* games style */
   .games{
    padding-top: 15em;
    padding-bottom: 5em;
   }
   /* footer */
   .footer{
    width: 100%;
    padding-right: 35.5em;
   }
   .footer-content{
    width: 100%;
    margin-left: 20em;
    padding-top: 90px;
   }
   .footer-menu{
    margin-top: 66px;
   }
   .copyright{
    padding-bottom: 130px;
   }
}